

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: rgb(170, 170, 170);
}

.App{
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.logo{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.main-container{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
